<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954715255467-pob9la4mhsmqph02b1a46nuop4kton0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954715255467-pob9la4mhsmqph02b1a46nuop4kton0o</string>
	<key>API_KEY</key>
	<string>AIzaSyCrBV87Wb-QUCfZ8NjDdH6BW3LPUGXV-sk</string>
	<key>GCM_SENDER_ID</key>
	<string>954715255467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotificationFirebase</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-de30c</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-de30c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954715255467:ios:395bae7e8159760429bdee</string>
</dict>
</plist>